:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1661px;
  height: 1223px;
  margin: 0 auto;
  background: #ffb890;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.25);
}
.rectangle {
  position: absolute;
  width: 1300.971px;
  height: 1453.314px;
  top: -21px;
  left: 669px;
  background: url(./assets/images/72cd1723-7e6e-4b85-996b-1d17bd067204.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.rectangle-1 {
  position: absolute;
  width: 1300.971px;
  height: 1453.314px;
  top: -21px;
  left: 1046px;
  background: url(./assets/images/15165c6d-1e5b-4ded-a243-e4a49834e08c.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
}
.armenia {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 40px;
  top: 1182px;
  left: 456px;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-decoration: underline;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 19;
}
.rectangle-2 {
  position: absolute;
  width: 1645px;
  height: 140px;
  top: 6px;
  left: 9px;
  background: #facbaf;
  z-index: 3;
  border-radius: 20px;
}
.sel-removebg-preview {
  position: absolute;
  width: 77px;
  height: 127px;
  top: 0;
  left: 29px;
  background: url(./assets/images/b61ac29c-46f8-4c96-a5cc-6b12bcf35fc0.png)
    no-repeat center;
  background-size: cover;
  z-index: 28;
}
.rectangle-3 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 149px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 5;
  border-radius: 20px;
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 51px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.rectangle-4 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 1354px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 6;
  border-radius: 20px;
}
.log-in {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 45px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 11;
}
.rectangle-5 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 1113px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 7;
  border-radius: 20px;
}
.support {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 37px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 16;
}
.rectangle-6 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 872px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 8;
  border-radius: 20px;
}
.shop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 58px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 15;
}
.rectangle-7 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 631px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 9;
  border-radius: 20px;
}
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 33px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 14;
}
.rectangle-8 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 390px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 10;
  border-radius: 20px;
}
.about-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 14px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 13;
}
.group {
  position: absolute;
  width: 54px;
  height: 85px;
  top: 27px;
  left: 1585px;
  background: url(./assets/images/0d77c577-b2b1-472e-a994-48c6b2964be9.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.rectangle-9 {
  position: absolute;
  width: 1661px;
  height: 967px;
  top: 182px;
  left: 0;
  border: 8px dashed #ff7527;
  z-index: 4;
}
.iphone-png {
  position: absolute;
  width: 242px;
  height: 210px;
  top: 24px;
  left: 125px;
  background: url(./assets/images/151ff384-5b2c-47af-ad4c-f00f58075c43.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
}
.rectangle-a {
  position: absolute;
  width: 347px;
  height: 419px;
  top: 32px;
  left: 69px;
  background: #ffd6be;
  border-radius: 41px;
}
.ellipse {
  position: absolute;
  width: 347px;
  top: 13px;
  bottom: 61px;
  left: 0;
  background: url(./assets/images/2e6a146d-d636-4b51-8525-74cb756aca21.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.ellipse-b {
  position: absolute;
  width: 237px;
  top: 77px;
  bottom: 108px;
  left: 54px;
  background: url(./assets/images/2f864df6-07a0-4bd0-a60e-4e56e612a85f.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
}
.rectangle-c {
  position: absolute;
  width: 347px;
  height: 170px;
  top: 202px;
  left: 0;
  background: #ffd6be;
  z-index: 31;
}
.rectangle-d {
  position: relative;
  width: 157px;
  height: 52px;
  margin: 4px 0 0 88px;
  background: #ffe4d5;
  z-index: 53;
  border-radius: 20px;
}
.iphones {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 3px;
  left: 5px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 55;
}
.iphone-pro-iphone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 291px;
  height: 120px;
  top: 274px;
  left: 23px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 57;
  overflow: hidden;
}
.rectangle-e {
  position: absolute;
  width: 347px;
  height: 419px;
  top: 32px;
  left: 451px;
  background: #ffd6be;
  z-index: 25;
  border-radius: 41px;
}
.ellipse-f {
  position: absolute;
  width: 347px;
  top: 14px;
  bottom: 60px;
  left: 0;
  background: url(./assets/images/399607a8-1b4e-48f2-bb73-c1f10578cb5d.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.mjm-av-removebg-preview {
  position: absolute;
  width: 269px;
  height: 188px;
  top: 14px;
  left: 39px;
  background: url(./assets/images/4df53dd4-5c10-4cd8-9845-d3910912bf28.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.ellipse-10 {
  position: absolute;
  width: 237px;
  top: 78px;
  bottom: 107px;
  left: 54px;
  background: url(./assets/images/27136fda-af7d-4fcb-bc47-88855513c6ee.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.rectangle-11 {
  position: absolute;
  width: 347px;
  height: 170px;
  top: 203px;
  left: 0;
  background: #ffd6be;
  z-index: 46;
}
.button {
  position: relative;
  width: 157px;
  height: 52px;
  margin: 7px 0 0 94px;
  cursor: pointer;
  background: #ffe4d5;
  border: none;
  z-index: 54;
  border-radius: 20px;
}
.ipads {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 3px;
  left: 27px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 56;
}
.ipad-pro-ipad {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 254px;
  height: 90px;
  margin: 18px 0 0 47px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 71;
  overflow: hidden;
}
.rectangle-12 {
  position: absolute;
  width: 347px;
  height: 419px;
  top: 32px;
  left: 833px;
  background: #ffd6be;
  z-index: 26;
  border-radius: 41px;
}
.ellipse-13 {
  position: absolute;
  width: 347px;
  top: 14px;
  bottom: 60px;
  left: 0;
  background: url(./assets/images/4c3eb65d-fc0f-4f0b-851d-2bca6a6a4a80.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.refurb-imac-orange-av-removebg-preview {
  position: absolute;
  width: 195px;
  height: 195px;
  top: 32px;
  left: 74px;
  background: url(./assets/images/119f5880-486e-4b58-9b36-ac7bb956270d.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
}
.ellipse-14 {
  position: absolute;
  width: 237px;
  top: 78px;
  bottom: 107px;
  left: 54px;
  background: url(./assets/images/6fad62cb-b0b8-4843-b990-f32cb98254e5.png)
    no-repeat center;
  background-size: cover;
  z-index: 48;
}
.rectangle-15 {
  position: absolute;
  width: 347px;
  height: 170px;
  top: 203px;
  left: 0;
  background: #ffd6be;
  z-index: 49;
}
.button-16 {
  position: relative;
  width: 157px;
  height: 52px;
  margin: 7px 0 0 94px;
  cursor: pointer;
  background: #ffe4d5;
  border: none;
  z-index: 72;
  border-radius: 20px;
}
.imacs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 3px;
  left: 23px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 73;
}
.imac-studio-mini {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 246px;
  height: 90px;
  margin: 18px 0 0 51px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 74;
  overflow: hidden;
}
.rectangle-17 {
  position: absolute;
  width: 347px;
  height: 419px;
  top: 32px;
  left: 1215px;
  background: #ffd6be;
  z-index: 27;
  border-radius: 41px;
}
.ellipse-18 {
  position: absolute;
  width: 347px;
  top: 14px;
  bottom: 60px;
  left: 0;
  background: url(./assets/images/0df53167-d139-4c80-b812-ea4613f5a0e4.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.a-ofl-removebg {
  position: absolute;
  width: 229px;
  height: 183px;
  top: 20px;
  left: 62px;
  background: url(./assets/images/b58a68db-276d-4b2e-9c95-ac7cf1ac1959.png)
    no-repeat center;
  background-size: cover;
  z-index: 80;
}
.ellipse-19 {
  position: absolute;
  width: 237px;
  top: 78px;
  bottom: 107px;
  left: 54px;
  background: url(./assets/images/cb37a740-9485-451e-a064-1c56ae6f7f03.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
}
.rectangle-1a {
  position: absolute;
  width: 347px;
  height: 170px;
  top: 203px;
  left: 0;
  background: #ffd6be;
  z-index: 52;
}
.rectangle-1b {
  position: relative;
  width: 157px;
  height: 52px;
  margin: 10px 0 0 93px;
  background: #ffe4d5;
  z-index: 75;
  border-radius: 20px;
}
.airpods {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 3px;
  left: 5px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 76;
}
.airpods-mini-x {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 273px;
  height: 90px;
  margin: 18px 0 0 37px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 77;
  overflow: hidden;
}
.istockphoto-x {
  position: absolute;
  width: 469.5px;
  height: 612px;
  top: 264px;
  left: 529.5px;
  background: url(./assets/images/9cd8e391-d8eb-42bb-af4b-f59fb3a73553.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.rectangle-1c {
  position: absolute;
  width: 347px;
  height: 419px;
  top: 501px;
  left: 69px;
  background: #ffd6be;
  z-index: 21;
  border-radius: 41px;
}
.ellipse-1d {
  position: absolute;
  width: 347px;
  top: 24px;
  bottom: 50px;
  left: 0;
  background: url(./assets/images/990a7985-dfbf-4fb8-a29f-468be25adca1.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.download-removebg-preview {
  position: absolute;
  width: 280px;
  height: 153px;
  top: 60px;
  left: 29px;
  background: url(./assets/images/4b4d1f8e-0116-4392-9f80-697195d6c387.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
}
.ellipse-1e {
  position: absolute;
  width: 237px;
  top: 88px;
  bottom: 97px;
  left: 54px;
  background: url(./assets/images/12aa7af6-ce95-45e3-8cad-6a5a34c27f25.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}
.rectangle-1f {
  position: absolute;
  width: 347px;
  height: 170px;
  top: 213px;
  left: 0;
  background: #ffd6be;
  z-index: 34;
}
.rectangle-20 {
  position: relative;
  width: 175px;
  height: 52px;
  margin: 7px 0 0 81px;
  background: #ffe4d5;
  z-index: 58;
  border-radius: 20px;
}
.watches {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 3px;
  left: 5px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 59;
}
.watch-se {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 276px;
  height: 90px;
  margin: 16px 0 0 30px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 60;
  overflow: hidden;
}
.rectangle-21 {
  position: absolute;
  width: 347px;
  height: 419px;
  top: 501px;
  left: 451px;
  background: #ffd6be;
  z-index: 22;
  border-radius: 41px;
}
.ellipse-22 {
  position: absolute;
  width: 347px;
  top: 24px;
  bottom: 50px;
  left: 0;
  background: url(./assets/images/e3a99379-690a-4a8b-a5fb-59367a41a91e.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
}
.bandwerk-head-band {
  position: absolute;
  width: 262px;
  height: 127px;
  top: 83px;
  left: 47px;
  background: url(./assets/images/b8abe496-123d-4e8f-9cb4-347206bd19a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
}
.ellipse-23 {
  position: absolute;
  width: 237px;
  top: 88px;
  bottom: 97px;
  left: 54px;
  background: url(./assets/images/61c3cb98-f6b9-4110-80ee-6cceb98cb9dc.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.rectangle-24 {
  position: absolute;
  width: 347px;
  height: 170px;
  top: 213px;
  left: 0;
  background: #ffd6be;
  z-index: 37;
}
.rectangle-25 {
  position: relative;
  width: 175px;
  height: 52px;
  margin: 7px 0 0 87px;
  background: #ffe4d5;
  z-index: 61;
  border-radius: 20px;
}
.visions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 3px;
  left: 18px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 62;
}
.vision-pro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 230px;
  height: 90px;
  margin: 16px 0 0 59px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 63;
  overflow: hidden;
}
.rectangle-26 {
  position: absolute;
  width: 347px;
  height: 419px;
  top: 501px;
  left: 833px;
  background: #ffd6be;
  z-index: 23;
  border-radius: 41px;
}
.images-preview {
  position: absolute;
  width: 225px;
  height: 225px;
  top: 15px;
  left: 60px;
  background: url(./assets/images/33801c8352fb8ac8553bff74492849beed66c39a.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
}
.ellipse-27 {
  position: absolute;
  width: 347px;
  top: 24px;
  bottom: 50px;
  left: 0;
  background: url(./assets/images/95d6ae55-d805-417d-b530-24abcb94adbf.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
}
.ellipse-28 {
  position: absolute;
  width: 237px;
  top: 88px;
  bottom: 97px;
  left: 54px;
  background: url(./assets/images/918f2114-8ad5-4d7e-9a4d-610e97b72c5b.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
}
.rectangle-29 {
  position: absolute;
  width: 347px;
  height: 170px;
  top: 213px;
  left: 0;
  background: #ffd6be;
  z-index: 40;
}
.button-2a {
  position: relative;
  width: 175px;
  height: 52px;
  margin: 7px 0 0 82px;
  cursor: pointer;
  background: #ffe4d5;
  border: none;
  z-index: 65;
  border-radius: 20px;
}
.tvs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 6px;
  left: 56px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 66;
}
.apple-tv {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 248px;
  height: 90px;
  margin: 16px 0 0 45px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 67;
  overflow: hidden;
}
.rectangle-2b {
  position: absolute;
  width: 347px;
  height: 419px;
  top: 501px;
  left: 1215px;
  background: #ffd6be;
  z-index: 24;
  border-radius: 41px;
}
.ellipse-2c {
  position: absolute;
  width: 347px;
  top: 24px;
  bottom: 50px;
  left: 0;
  background: url(./assets/images/e9547d6f-6644-4f3a-829a-241cfdba35d2.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}
.s-l-preview {
  position: absolute;
  width: 242px;
  height: 161px;
  top: 71px;
  left: 49px;
  background: url(./assets/images/02de29d420e18d2fc436fc56744fdb0194ed99b2.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
}
.ellipse-2d {
  position: absolute;
  width: 237px;
  top: 88px;
  bottom: 97px;
  left: 54px;
  background: url(./assets/images/8ac22878-496d-4d06-b55a-e3e399b1436c.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.rectangle-2e {
  position: absolute;
  width: 347px;
  height: 170px;
  top: 213px;
  left: 0;
  font-size: 0px;
  background: #ffd6be;
  z-index: 43;
}
.keyboard-magic {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 215px;
  height: 90px;
  margin: 78px 0 0 66px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  z-index: 70;
  overflow: hidden;
}
.rectangle-2f {
  position: absolute;
  width: 213px;
  height: 52px;
  top: 10px;
  left: 66px;
  background: #ffe4d5;
  z-index: 68;
  border-radius: 20px;
}
.keyboards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 45px;
  top: 14px;
  left: 71px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 69;
}
.rectangle-30 {
  position: absolute;
  width: 1661px;
  height: 100px;
  top: 1149px;
  left: 3px;
  background: url(./assets/images/83452bb0-3f71-439f-828f-cce0cb9deab0.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.apple-inc {
  position: absolute;
  width: 1349px;
  height: 107px;
  top: 1169px;
  left: 26px;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  z-index: 18;
}
.apple-inc-31 {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.privacy-policy {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.empty {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.terms-of-use {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.empty-32 {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.sales-and-refunds {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.empty-33 {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.legal {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.empty-34 {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.site-map {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
