:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1661px;
  height: 1223px;
  margin: 0 auto;
  background: #ffb890;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.25);
}
.rectangle {
  position: absolute;
  width: 1300.971px;
  height: 1453.314px;
  top: -22.067px;
  left: 670.34px;
  background: url(./assets/images/731b54c5-da6a-46f8-8a51-adfc05dbed5d.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.button-armenia {
  position: absolute;
  width: 136px;
  height: 40px;
  top: 1183.067px;
  left: 831.66px;
  cursor: pointer;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 21;
}
.rectangle-1 {
  position: absolute;
  width: 1645px;
  height: 140px;
  top: 6px;
  left: 9px;
  background: #facbaf;
  border-radius: 20px;
}
.sel-removebg-preview {
  position: absolute;
  width: 77px;
  height: 127px;
  top: 0;
  left: 29px;
  background: url(./assets/images/97549858-bc27-4009-8624-a2bd12ce7e85.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.button-rectangle {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 149px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 7;
  border-radius: 20px;
}
.span-home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 51px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 14;
}
.rectangle-button {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 1354px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 8;
  border-radius: 20px;
}
.log-in-span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 45px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.rectangle-button-2 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 1113px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 9;
  border-radius: 20px;
}
.support-span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 32px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.rectangle-button-3 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 872px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 10;
  border-radius: 20px;
}
.shop-span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 58px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.rectangle-button-4 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 631px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 11;
  border-radius: 20px;
}
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 40px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.rectangle-5 {
  position: absolute;
  width: 207px;
  height: 85px;
  top: 27px;
  left: 390px;
  cursor: pointer;
  background: #f75e00;
  border: none;
  z-index: 12;
  border-radius: 20px;
}
.about-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 44px;
  top: 20px;
  left: 27px;
  color: #ffffff;
  font-family: Kavoon, var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.group {
  position: absolute;
  width: 54px;
  height: 85px;
  top: 27px;
  left: 1585px;
  background: url(./assets/images/ab8debec-905c-425b-b278-7bc09a6d5ed6.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.rectangle-6 {
  position: absolute;
  width: 1661px;
  height: 967px;
  top: 182px;
  left: 0;
  border: 8px dashed #ff7527;
  z-index: 5;
}
.new-model {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 740px;
  height: 384px;
  top: -1px;
  left: 87px;
  color: #ff7527;
  font-family: Kavoon, var(--default-font-family);
  font-size: 140px;
  font-weight: 400;
  line-height: 175px;
  text-align: left;
  z-index: 3;
}
.iphone-png {
  position: absolute;
  width: 1000px;
  height: 870.18px;
  top: 88.82px;
  left: 630px;
  background: url(./assets/images/0653ba21-90be-409f-9766-36b46a613cf7.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.memory-capacity-screen-size-processor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 451px;
  height: 480px;
  top: 372px;
  left: 87px;
  color: #ff6914;
  font-family: Kavoon, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  z-index: 4;
}
.rectangle-7 {
  position: absolute;
  width: 1661px;
  height: 100px;
  top: 1149px;
  left: 3px;
  background: url(./assets/images/60ab6a1b-87e0-4c32-bd59-8abc474eaf06.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}
.copyright-privacy-policy-terms-of-use {
  position: absolute;
  width: 1349px;
  height: 107px;
  top: 1169px;
  left: 26px;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  z-index: 20;
}
.copyright {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.privacy-policy {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.sales-and-refunds {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.terms-of-use {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.sales-and-refunds-8 {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.sales-and-refunds-9 {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.sales-and-refunds-a {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.legal {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.sales-and-refunds-b {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.site-map {
  position: relative;
  color: #fdddca;
  font-family: Kavoon, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
}
.backgroud{
  color: blanchedalmond;
}